h1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
  font-size: 60px;
  font-family: 'Arizonia', cursive;
}
.itemInput{
  display: grid;
  padding: 100px 100px 50px;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  grid-template-rows: 1fr;
}

.listContainer {
  display: grid;
  padding: 0 60px 0;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
}

.done {
  text-decoration: line-through;
}

#listItem {
  list-style: none;
  line-height: 2;
}

#listItem:hover{
  cursor: pointer;
}

#enter {
  color: blue;
  border-radius: 16px;
}

button {
  color: red;
}
